* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

section {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    width: 500px;
    height: 450px;
    margin: 40px auto;
    box-shadow: 1px 2px 3px;
    border: 1px solid;
    display: flex;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    text-align: center;
    box-shadow: 1px 2px 1px;
    border-radius: 15px;
    display: flex;
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #dedada;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 5px;

}

li:hover {
    color: red;
}

footer {
    margin: 100px;
    color: white;
    text-align: center;
    font-style: italic;
}