* {
    margin: 0px;
    padding: 0px;
}

img{
    width: 150px;
    height: 110px;
    margin: auto;
}

#apresentacao{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 900px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.b1 {
    /*estrutura das letras*/
    text-align: justify;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
   margin: auto;
    color: rgb(13, 0, 0);
}

.a1 {
    /*div*/
    margin: 5px;
    background-color: white;
    border: 1px solid;
    width: 300px;
    height: 300px;
    box-shadow: 1px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.a3 {
    /*ul*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


body {
    /*toda à página*/
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

h1 {
    /*titulo*/
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

li {
    /*todas li*/
    list-style: none;
    background-color: #0a8f32;
    display: flex;
    justify-content: center;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
    border-radius: 10px 100px;
    margin: 10px;
}

a {
    /*retira elementos do <a>, sublinhado e cor azul*/
    text-decoration: none;
    color: inherit;
}

#btn {
    /*botão avançar/voltar*/
    text-align: center;
    box-shadow: 1px 2px 1px;
    border-radius: 15px;
    display: flex;
    background: #1abc01;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #dedada;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

a:hover {
    /*muda a cor ao passar o mouse*/
    color: red;
}

footer {
    /*rodapé*/
    margin: 200px;
    color: white;
    text-align: center;
    font-style: italic;
}