* {
    margin: 0px;
    padding: 0px;
}

p{
    text-align: justify;
    font-style: italic;
    font-weight: bolder;
    font-size: medium;
    width: 450px;
    margin: auto;
}

body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

section {
    box-shadow: 1px 2px 3px;
    border: 1px solid;
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
button{
    cursor: pointer;
    background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #dedada;
    padding: 10px;
    width: 100px;
}

div{
    margin-top: 50px;
}

footer {
    margin: 50px;
    color: white;
    text-align: center;
    font-style: italic;
}

input {
    box-shadow: 1px 2px 3px;
    border: 1px solid;
    padding: 3px;
    width: 300px;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    box-shadow: 1px 2px 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #16b916;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #dedada;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

li:hover{
color: red;
}

footer {
    margin: 50px;
    color: white;
    text-align: center;
    font-style: italic;
}