body{
    background-color: #005762;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 200px;
    margin: auto;
   margin-top: 200px;
   border: 1px solid black;
   box-sizing: border-box;
   box-shadow: 1px 2px 3px;
}

p{
    text-align: center;
}

input:hover{
    cursor: pointer; 
    background-color: rgb(236, 4, 4) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(26, 192, 26) !important;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}